body {
    font-family: 'Cabin';
    display: flex;
    height: 100vh;
}

nav {
    background-color: #2C6D52;
    width: 23%;
    text-align: center;
    padding: 2em;
}

.navigation-logo {
    width: 40%;
}

.d {
    position: relative;
    color: #FFFFFF;
    font-size: 50px;
    right: 37%;
    bottom: 2.5%;
    font-style: italic;
    opacity: 30%;
}

.navigation__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    margin-top: 2em;
}

.navigation__content1 {
    display: flex;
    background-color: #183F2F;
    padding: 1em;
    align-items: center;
    text-decoration: none;
}

.navigation__content-page1 {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 3.5em;
    font-size: 20px;
}

.navigation__content2 {
    display: flex;
    padding: 1em;
    background-color: #183f2f41;
    align-items: center;
    text-decoration: none;
}

.navigation__content-page2 {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 2em;
    font-size: 20px;
}

header {
    border-bottom: #183F2F solid 2px;
    width: 77vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 30px;
    font-weight: 500;
    padding: 0 1em;
}

.header-image {
    width: 3em;
    padding: 0.8em 1.3em;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 2em;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.input {
    padding: 1em;
    opacity: 40%;
    border: 2px solid;
    border-radius: 8px;
    padding: 0 1em;
    transition: 0.5s;
}

.lin1 {
    display: flex;
}

.col1 {
    display: flex;
    flex-direction: column;
}

.col2 {
    display: flex;
    flex-direction: column;
}