body {
    font-family: 'Cabin';
    display: flex;
    height: 100vh;
}

nav {
    background-color: #2C6D52;
    width: 23%;
    text-align: center;
    padding: 2em;
}

.navigation-logo {
    width: 40%;
}

.d {
    position: relative;
    color: #FFFFFF;
    font-size: 270%;
    right: 37%;
    bottom: 2.5%;
    font-style: italic;
    opacity: 30%;
}

.navigation__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    margin-top: 2em;
}

.navigation__content1 {
    display: flex;
    background-color: #183F2F;
    padding: 1em;
    align-items: center;
    text-decoration: none;
}

.navigation__content-page1 {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 3.5em;
    font-size: 20px;
}

.navigation__content2 {
    display: flex;
    padding: 1em;
    background-color: #183f2f41;
    align-items: center;
    text-decoration: none;
    transition: 0.4s ease;
}

.navigation__content2:hover {
    background-color: #183F2F;
}

.navigation__content-page2 {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 2em;
    font-size: 20px;
}

header {
    border-bottom: #183F2F solid 2px;
    width: 77vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.header-title {
    font-size: 30px;
    font-weight: 500;
    padding: 0 1em;
}

.header-image {
    width: 3em;
    padding: 0.8em 1.3em;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

input {
    opacity: 40%;
    padding: 0 1em;
    border: 1px solid;
    border-radius: 6px;
    height: 3em;
    font-weight: 700;
    transition: 0.8s ;
}

input:focus {
    opacity: 100%;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.lin {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}

.col {
    display: flex;
    flex-direction: column;
}

.input1 {
    width: 66vh;
    font-family: 'Cabin';
}

.input2 {
    width: 42vh;
    font-family: 'Cabin';
}

.button {
    margin: 6em 0 0 127vh;
    padding: 1em 4.5em;
    border: none;
    border-radius: 8px;
    background-color: #2C6D52;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Cabin';
    cursor: pointer;
    transition: 0.5s ease;
}

.button:hover {
    background-color: rgb(100, 185, 100);
}