body {
    font-family: 'Cabin';
}

nav {
    background-color: #2C6D52;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1%;
    width: 20%;
    text-align: center;
}

.navigation__content2 {
    display: flex;
    background-color: #183F2F;
    padding: 1em;
    align-items: center;
    text-decoration: none;
    margin: 20px;
}

.navigation__content1 {
    display: flex;
    padding: 1em;
    background-color: #183f2f41;
    align-items: center;
    text-decoration: none;
    margin: 20px;
    transition: 0.4s ease;
}

.navigation__content1:hover {
    background-color: #183F2F;
}

.navigation__content-text {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 1em;
}


header {
    top: 0;
    left: 0;
    margin-left: 22%;
    border-bottom: 3px solid #2C6D52;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 36px;
    margin: 0 1em;
    font-weight: 500;
}

.header-image {
    width: 3em;
    padding: 0.8em 1.3em;
    left: 20;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
} 

.grid {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 77vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.lin {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}

.col {
    display: flex;
    flex-direction: column;
}

.input1 {
    width: 66vh;
    font-family: 'Cabin';
}

.input2 {
    width: 140vh;
    font-family: 'Cabin';
}

input {
    opacity: 40%;
    padding: 0 1em;
    border: 1px solid;
    border-radius: 6px;
    height: 3em;
    font-weight: 700;
    transition: 0.8s ;
}

input:focus {
    opacity: 100%;
}

label {
    font-size: 24px;
    margin-bottom: 10px;
}

#bancos {
    opacity: 40%;
    padding: 0 1em;
    border: 1px solid;
    border-radius: 6px;
    height: 3em;
    font-weight: 700;
    transition: 0.8s;
    width: 70vh;
    font-family: 'Cabin';
}

#bancos:focus {
    opacity: 100%;
}

.button {
    position: fixed;
    margin-top: 30%;
    right: 2%;
    padding: 0.8em 4em;
    border: none;
    border-radius: 10px;
    background-color: #2C6D52;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Cabin';
    cursor: pointer;
    transition: 0.5s ease;
}

.button:hover {
    background-color: rgb(100, 185, 100);
} 