body {
    font-family: 'Cabin';
}

nav {
    background-color: #2C6D52;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1%;
    width: 20%;
    text-align: center;
}

.navigation__content2 {
    display: flex;
    background-color: #183F2F;
    padding: 1em;
    align-items: center;
    text-decoration: none;
    margin: 20px;
}

.navigation__content1 {
    display: flex;
    padding: 1em;
    background-color: #183f2f41;
    align-items: center;
    text-decoration: none;
    margin: 20px;
    transition: 0.4s ease;
}

.navigation__content1:hover {
    background-color: #183F2F;
}

.navigation__content-text {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 1em;
}


header {
    top: 0;
    left: 0;
    margin-left: 22%;
    border-bottom: 3px solid #2C6D52;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 36px;
    margin: 0 1em;
    font-weight: 500;
}

.header-image {
    width: 3em;
    padding: 0.8em 1.3em;
    left: 20;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
} 

main {
    position: fixed;
    width: 77%;
    height: 90%;
    right: 0;
    bottom: 0;
}

.main-button {
    position: fixed;
    right: 1%;
    top: 10%;
    margin: 1em 0;
    background-color: #2C6D52;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Cabin';
    padding: 0.7em 2em;
    text-align: center;
    border-radius: 12px;
    font-size: 20px;
    transition: 0.5s ease;
}

.main-button:hover {
    background-color: rgb(100, 185, 100);
}

.box {
    margin: 5em 1.3em;
    height: 80%;
    background-color: #F6F6F6;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-header {
    display: flex;
    border-bottom: 1px solid #7C7C7C;
}

.box-header__content {
    font-size: 24px;
    padding: 1.5em 2em;
    font-weight: 500;
}

.lin1 {
    display: flex;
    justify-content: end;
    background-color: #E7E7E7;
    padding: 1em;
}

.lin2 {
    display: flex;
    justify-content: end;
    padding: 1em;
}

.olho {
    width: 4%;
}

.box-main img {
    cursor: pointer;
}