body {
    font-family: 'Cabin';
    display: flex;
    height: 100vh;
}

nav {
    background-color: #2C6D52;
    width: 23%;
    text-align: center;
    padding: 2em;
}

.navigation-logo {
    width: 40%;
}

.d {
    position: relative;
    color: #FFFFFF;
    font-size: 270%;
    right: 37%;
    bottom: 2.5%;
    font-style: italic;
    opacity: 30%;
}

.navigation__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    margin-top: 2em;
}

.navigation__content1 {
    display: flex;
    background-color: #183F2F;
    padding: 1em;
    align-items: center;
    text-decoration: none;
}

.navigation__content-page1 {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 3.5em;
    font-size: 20px;
}

.navigation__content2 {
    display: flex;
    padding: 1em;
    background-color: #183f2f41;
    align-items: center;
    text-decoration: none;
    transition: 0.4s ease;
}

.navigation__content2:hover {
    background-color: #183F2F;
}

.navigation__content-page2 {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 2em;
    font-size: 20px;
}

header {
    border-bottom: #183F2F solid 2px;
    width: 77vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.header-title {
    font-size: 30px;
    font-weight: 500;
    padding: 0 1em;
}

.header-image {
    width: 3em;
    padding: 0.8em 1.3em;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.main-button {
    display: flex;
    position: relative;
    left: 88%;
    width: 7em;
    font-size: 1em;
    background-color: #2C6D52;
    border-radius: 4px;
    text-decoration: none;
    align-items: center;
}

.main-button__icon {
    width: 2%;
    color: #FFFFFF;
}

.main-button__text {
    color: #FFFFFF;
    font-family: 'Cabin';
}